/* 
    Created on : 27-ene-2016, 16:18:42
    Author     : Juan Antonio Echeverrías Aranda
*/


#ovt-sign-in{
  position:relative;
  width: 100%;
  top: 1em;
  display: block;
  margin-bottom: 2em;
}

div.alert {
  padding: 5px 15px;
}

div.ovt-sign{
   margin: auto;
    background-color: #EEFACA;
    border-radius: 3px;
    -webkit-box-shadow: 0 0 200px rgba(255, 255, 255, 0.5), 0 1px 2px
        rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 200px rgba(255, 255, 255, 0.5), 0 1px 2px
        rgba(0, 0, 0, 0.3);
    
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
    height:auto; 
}

.ovt-sign::before {
    content: '';
    background: rgba(0, 0, 0, 0.08);
    border-radius: 4px;
}

.ovt-sign div.ovt-header{
  height: auto;
}

.ovt-signIn {
    width: 40%;
   
}


.ovt-signIn div.ovt-container{
  padding: 1em;
}

div.ovt-container form {
    margin:auto;
    box-sizing: border-box;
    border-left: 0em;
    margin-bottom: 1em;
    
}

.ovt-signIn div.ovt-container form {
  width: 70%;
}  

form label{
  display:block;
}

form div.ovt-fields{
  margin-bottom: 2em;
}

div.ovt-signIn form div.ovt-fields{
}

div.ovt-signIn form div.ovt-fields div.form-group{
 }

div.ovt-signIn form div.ovt-submit {
  margin-top: 2em;
  display: block;
  text-align:center;
}

.ng-valid[required] {
  border-left: 5px solid #42A948; /* green */
}

.ng-invalid {
  border-left: 5px solid #a94442; /* red */
}

div.ovt-container form input.btn{
  display: inline-block;
  width:auto;
  padding: 0.5em 2em;
}

div.ovt-container button{
  margin:auto;
  width: auto;
  padding: 0.5em 2em;
}

div.ovt-signIn div.ovt-container button{
  margin-bottom: 1em;
}


form input{
  margin-left: 0em;
}

form div.ovt-field{
  margin-left:0.5em;
}


/* SIGN UP */

div.ovt-signUp {
    width: 85%;
}

div.ovt-signUp div.ovt-container{
  padding: 1em 1em 0em 1em;
  position: relative;
}

div.ovt-signUp form div.form-group{
  margin: 0;
  margin-bottom: 1em;
}

div.ovt-signUp form label{
  display: inline-block;
  margin: 0 0.5em;
}

div.ovt-signUp form input{
  width:45%;
  display: inline-block;
  margin: 0em;
}

div.ovt-signUp form div.ovt-fields div.form-group div.ovt-field input.ovt-radio[type="radio"]{
    width:auto;
    display: inline-block;
    margin-left: 0.3em;
}

div.ovt-signUp form div.ovt-display-alert{
  display: inline-block;
  margin-left: 1em;
  padding: 0em;
}

div.ovt-signUp form  div.ovt-display-alert div.alert{
  margin: 0em;
  padding: 0.45em;
  display: inline-block;
}



div.ovt-signUp form {
  padding: 1em;
}

div.ovt-signUp form div.ovt-fields{
  margin-bottom: 2em;
}



div.ovt-sign form input.ovt-radio{
  display: inline-block;
  width: auto;
  margin:0;
  vertical-align: middle;
}

form div.ovt-fields div.form-group div.ovt-field span{

  margin: 0em 0.5em;
 }


div.ovt-signUp form div.ovt-submit {
  margin-left: 0.5em;
  display: inline;
}

div.ovt-signUp  div.ovt-container button{
  bottom: 0.9em;
  right: 1.5em;
  position: absolute;
}




div.ovt-user-menu div.ovt-container {
    
    display: flex;
    display: -webkit-flex;
    flex-direction: row;
    -webkit-flex-direction: row;
    background: #E1E1E1;
    align-items: center;
    justify-content: center;
    width: 100%;
}

div.ovt-user-menu div.ovt-image{
    -webkit-flex: 1 2 30%;
    -webkit-order: 1;
    flex: 1 2 30%;
    order: 1;

}

div.ovt-image div.ovt-user-icon.big img{
    height: 150px;
    width: 150px;
    margin: auto;
}




/* EDIT PERFIL */

div.ovt-edit-perfil{
  width: 65%;
}

div.ovt-edit-perfil div.ovt-header + div.ovt-container{
  position: relative;
  padding: 1.5em 1em 0em 1.5em;
}


div.ovt-edit-perfil div.ovt-container div.ovt-container{
  position: relative;
  padding: 1.5em 1em 1em 1.5em;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  margin-bottom: 1em;
}




div.ovt-edit-perfil div.ovt-container form{
  padding-top: 0.5em;
}

div.ovt-image{
    -webkit-flex: 1 2 40%;
    -webkit-order: 1;
    flex: 1 2 40%;
    order: 1;

    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    
}


div.ovt-edit-perfil div.ovt-container div.ovt-image button{
  position: relative;
  bottom: -0.5em;
  right: 0em;
}

div.ovt-options{
    -webkit-flex: 2 1 60%;
    -webkit-order: 2;
    flex: 2 1 60%;
    order: 2;
    text-align: center,
}


div.ovt-options div.ovt-text{
  text-align: center;
  margin-bottom: 2em;
}

div.ovt-options p{
  font-size: 2em;
}


div.ovt-image div.ovt-user-icon{
   width: auto;
}

div.ovt-user-icon.big img{
    -moz-border-radius: 50%;
    border-radius: 50%;
    display: block;
    margin: 0em;
    overflow: hidden;
    z-index: 0;
    width:150px;
    height: 150px;
}

div.ovt-image input {
   width: auto;
}



div.ovt-options div{
    width: 100%;
}

div.ovt-edit-perfil div.ovt-container form{
  height: auto;
}

div.ovt-edit-perfil div.ovt-container form div.ovt-fields{
  height: auto;
  max-height: none;
  margin-bottom: 2em;
}

div.ovt-edit-perfil div.ovt-container form div.ovt-fields div.form-group{
  
}

div.ovt-edit-perfil form div.form-group input{
  width: 45%;
  display: inline-block;
}

div.ovt-edit-perfil form  div.ovt-display-alert {
  display: inline-block;
}

div.ovt-edit-perfil form  div.ovt-display-alert div.alert{
  margin: 0em;
  padding: 0.45em;
  display: inline-block;
}

div.ovt-edit-perfil form div.form-group input.ovt-radio{
  width: auto;
}

div.ovt-edit-perfil div.ovt-container form div.ovt-submit input.btn{
  margin: 0;
  width: auto;
  margin-bottom: 1em;
}

div.ovt-edit-perfil div.ovt-container form button{
  position: absolute;
  margin: 0;
  width: auto;
  bottom: 0.9em;
  right: 1.7em;
}

div.ovt-edit-perfil  div.ovt-container button{
  bottom: 0.9em;
  right: 1.5em;
  position: absolute;
}


div.ovt.edit.perfil div.ovt-submit{
  margin-top: 1em;
}

div.ovt-edit-perfil form div.ovt-fields div.form-group div.ovt-field input.ovt-radio[type="radio"]{
    width:auto;
    display: inline-block;
    margin-left: 0.3em;
}

@media screen and (max-width:1040px) {
  
  
  div.ovt-signUp  {
  width: 85%;
  }

  div.ovt-signUp form {
  padding: 0.5em 0.5em 1em 0.5em;
}

div.ovt-signUp form div.ovt-display-alert{
  margin-left: 0.5em;
  
}

}

@media screen and (max-width:980px) {
  
  
  .ovt-signIn {
    width: 50%;
  }

  div form div.ovt-display-alert{
    display: block;
    text-align: center;
  }

  div.ovt-signUp form div.ovt-display-alert{
    display: block;
  }


  div.ovt-signUp {
    width: 60%;
  }

  div.ovt-signUp form div.ovt-fields{
    margin-bottom: 2em;
    margin: auto;
    max-width: 80%;
  }

  div.ovt-signUp form  div.ovt-display-alert div.alert{
    display: block;
  }

  div.ovt-signUp  form div.ovt-fields div.form-group div.ovt-field input{
    width:100%;
 }


  div.ovt-edit-perfil{
    width: 75%;
  }

  div.ovt-edit-perfil form div.ovt-fields{
    margin-bottom: 2em;
    margin: auto;
    max-width: 80%;
  }

  div.ovt-edit-perfil form  div.ovt-display-alert{
    display: block;
    width:100%;
  }

  div.ovt-edit-perfil  form div.ovt-fields div.form-group div.ovt-field input{
    width:100%;
 }


}



@media screen and (max-width:800px) {
  
  

  div.ovt-image div.ovt-user-icon.big img{
    height: 125px;
    width: 125px;
    }
}

@media screen and (max-width:768px) {
  
  
  .ovt-signIn {
    width: 65%;
  }
  

  div.ovt-edit-perfil {
    width: 80%;
  }


}


@media screen and (max-width:700px) {
  


  div.ovt-edit-perfil div.ovt-container div.ovt-container{
    display: block;
  }

  div.ovt-edit-perfil div.ovt-container form{
    height: auto;
}




  div.ovt-edit-perfil div.ovt-container div.ovt-options{
    text-align: center;

  }

  div.ovt-edit-perfil div.ovt-container div.ovt-options div:nth-child(2){
    margin-bottom: 0.5em;

  }

  div.ovt-edit-perfil div.ovt-container div.ovt-options input{
    margin: auto;

  }

  div.ovt-options div.ovt-text{
    margin-top: 2em;
  }  


  div.ovt-edit-perfil form  div.ovt-display-alert div.alert{
    margin: 0em;
    padding: 0.45em;
    display: block;
  }

  div.ovt-image div.ovt-user-icon.big img{
      height: 150px;
      width: 150px;
      }
  }



@media screen and (max-width:568px) {
  
  
  .ovt-signIn  {
    width: 90%;
  }

  div.ovt-signUp {
    width: 90%;
  }

  div.ovt-edit-perfil {
    width: 85%;
  }

}



@media screen and (max-width:480px) {
  
  .ovt-signIn div.ovt-container form {
    width: 95%;
  }  

  div.ovt-signUp form div.ovt-fields{
    max-width: 90%;
  }

  div.ovt-edit-perfil form div.ovt-fields{
    max-width: 90%;
  }

}

@media screen and (max-width:425px) {
  
  
  .ovt-signIn  {
    width: 99%;
  }

  div.ovt-signUp {
    width: 99%;
  }
  
  
  div.ovt-signUp form div.ovt-fields{
    max-width: 95%;
  }

  div.ovt-edit-perfil {
    width: 99%;
  }

  div.ovt-edit-perfil form div.ovt-fields{
    max-width: 95%;
  }


}


@media screen and (max-width:100px){

  div.ovt-edit-perfil{
    width: 70%;
}


}