/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 06-dic-2015, 10:54:14
    Author     : juanan
*/


#ovt-chat{
  height:100%;
  font.size: 0.8em;
}

.messages{
  width: 94%;
  background-color: #EEFACA;
  margin-bottom: 0.9em;
  padding: 0.1em 0.7em;
  border: 0.2em solid grey;
  border-radius: 0.5em;
  max-height: 4.2em;
  min-height:4.2em;
  overflow:auto;
  overflow-x: hidden;
  box-shadow: -2px 2px 2px #299D29;
}


.mailbox input {
  display: inline;
}

#myMessage{
  resize:none;
  width:94%;
  box-shadow: -2px 2px 2px #299D29;
  background-color: #EEFACA;
  border-radius: 0.5em;
  border: 0.15em solid grey;
  line-height: 1.3em;
  height: 20%;
  vertical-align: middle;
  padding: 0 0.7em;
  font-size: 0.9em;
}

#sendMessage{
  width:auto;
  padding: 0.1em 0.2em;
  font-size: 0.9em;
  vertical-align: middle;
}

ovt-chatmessage{
  
}
