/* 
    Created on : 06-dic-2015, 10:54:14
    Author     : Juan Antonio echeverrías Aranda
*/


#ovt-chat{
  box-sizing: border-box;
  font-size: 0.8em;
  padding: 0.5em;
  display: flex;
  display: -moz-flex;
  display: -webkit-flex;
  flex-direction: column;
  -moz-flex-direction: column;
  -webkit-flex-direction: column;
}

.messages{
  width: 94%;
  background-color: #EEFACA;
  margin-bottom: 0.9em;
  padding: 0.1em 0.7em;
  border: 0.2em solid grey;
  border-radius: 0.5em;
  overflow:auto;
  overflow-x: hidden;
  box-shadow: -2px 2px 2px #299D29;
  flex: 4 4 63em;
  -moz-flex: 4 4 6em;
  -webkit-flex: 4 4 6em;
}

.mailbox {
  flex: 1 1 3em;
  -moz-flex: 1 1 3em;
  -webkit-flex: 1 1 3em;
}


/* div.mailbox */

#myMessage{
  resize:none;
  width:94%;
  box-shadow: -2px 2px 2px #299D29;
  background-color: #EEFACA;
  border-radius: 0.5em;
  border: 0.15em solid grey;
  line-height: 1.3em;
  vertical-align: middle;
  padding: 0 0.7em;
  font-size: 0.9em;
}

#sendMessage{
  width:auto;
  padding: 0.1em 0.2em;
  font-size: 1.2em;
  vertical-align: middle;
  position:relative;
  margin-left: 0.5em;
  box-shadow: -2px 2px 1px #299D29;
}

.mailbox input {
  display: inline;
}

