*.class
*.[oa]
*~
*.pdf
prueba.*
Dockerfile
dockerfile
settings.xml
tomcat-users.xml
bower_components/
node_modules/
nm/
temp/
/target/
files/
/files/
/data/
/prueba/
/ovt-mysql/
wait-for-it/
start.sh
pom.xml
