.ovt-file-link{
    
}


span.ovt-file-name:hover{
     cursor: pointer;
     background: #FFEB3B;
     font-weight: bold;
}


.ovt-download-btn{
    margin-right: 0.5em;
    border: none;
    background: none;
}

.ovt-download-btn:hover{
    cursor: pointer;
} 

.ovt-download-link::before{
    content: url("app/components/share/fileLink/img/download-file-icon-off.png");
}

.ovt-download-link:hover::before{
    content: url("app/components/share/fileLink/img/download-file-icon-on.png");
}

.ovt-selectable ul{
    list-style:none;
    padding: 0;
    padding-left: 0.5em;
}


