/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 06-dic-2015, 10:54:14
    Author     : juanan
*/


.ovt-chatMessage{
  padding:0.2em;
  width: 100%;
 
}


.sender, .message{
  font-size: 1.2em;
  
 
  
}

.sender{
  float:left;
   margin-right: 0.5em;
   padding: 0em 0.5em;
   border-radius: 1em;
   font-weight: bold;
}

.message{
   word-break: break-all;
   word-wrap: break-word;
   
}



