/* 
    Created on : 25-ene-2016, 19:24:29
    Author     : juanan
*/
#ovt-history {
    position:relative;
    top: 1em;
    width: 70%;
    display: block;
    background-color: #EEFACA;
    box-sizing: border-box;
    border-radius: 3px;
    -webkit-box-shadow: 0 0 200px rgba(255, 255, 255, 0.5), 0 1px 2px
        rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 200px rgba(255, 255, 255, 0.5), 0 1px 2px
        rgba(0, 0, 0, 0.3);
    
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
}

#ovt-history:before {
    content: '';
    background: rgba(0, 0, 0, 0.08);
    border-radius: 4px;
}

#ovt-history .header {
  width: 100%;
  text-align: center;
  margin-bottom: 2em;
   
}



#ovt-history .ovt-out {
  margin:3em 0 1em 0;
  text-align: center;
  
}

div.ovt-container-col div.ovt-rooms > div.header {
  margin-bottom:1em;
  margin-top:1em;
}

div.ovt-rooms  div.header {
  margin-bottom:3em;
  
}

#ovt-history div.ovt-rooms{
  padding: 0em;
}

div.ovt-rooms{
  width: 70%;
  margin:auto;
}


div.ovt-rooms ul li{
  margin-bottom: 0.2em; 
}



/*
.ovt-rooms .ovt-room-details::before {
  content: '.';
  margin-right: 5px;
  font-size: 80%;
  color: rgb(8, 0, 0);
  font-weight: bold;
  padding: 3px 8px;
  border-radius: 3px;
  position:absolute;
  left: -1em;
  top: -0.2em;
}
*/
/*
div.ovt-rooms li.ovt-room-selector{
  margin-bottom:0.5em;
  padding-left: 1em; 
  text-indent: -1em;
}

div.ovt-rooms li.ovt-room-selector::before{
 content: '\2022';
 padding-right:7px;
}
*/

button.ovt-inline{
  display: inline-block;
}

div.ovt-inline p{
  display: inline;
  margin-right: 0.5em;
}

div.ovt-create-room div div input{
  padding-left: 0.5em;
  padding-right: 0.5em;
  border: 0.5px solid;
  border-radius: 5px;
}

div.ovt-create-room div div{
margin-bottom: 1em;
}

div.ovt-create-room div div{
  display: inline-block;
  margin-left: 0.5em;
}

div.ovt-create-room button{
  padding-left: 1em;
}

div.ovt-out button{
  margin: 2em auto 0em auto;
}


/*
.ovt-room-details{
  position:relative;
  left: 5em;
}

*/

div.header div {
  display:inline;  
 }

 div.header div.subheader {
  margin-right: 3em;
 }

@media screen and (max-width: 1140px){
  
  #ovt-history{
      width: 65%;
  }
}

@media screen and (max-width:900px) {
  
  
#ovt-history div.ovt-rooms{
    width: 85%;
  }
}


@media screen and (max-width:650px) {
  
  
  #ovt-history {
    width: 78%;
  }

  div.header div.subheader {
   margin-right: 1em;
   }
  
}



@media screen and (max-width:425px) {
  
  
  #ovt-history {
    width: 95%;
  }

  div.header div.subheader {
    margin-right: 0em;
    margin-bottom: 0.5em;
  }

  div.header div {
    display:block;  
   }

}