<!--
 * @author Juan Antonio Echeverrías Aranda (juanan.echeve@gmail.com)
 -->
 <div id="waitingRoom" class="animate join">
      
    <h1>Welcome <span>{{appService.me.name}}</span></h1>
    <h4 *ngIf="allAvaibleRoomsNames && allAvaibleRoomsNames.length === 0">There are no avaibles rooms yet</h4>
    <h4 *ngIf="allAvaibleRoomsNames && allAvaibleRoomsNames.length > 0">Select a room</h4>
    <button *ngFor="#room of allAvaibleRoomsNames" (click)="joinRoom(room)">{{room}}</button><br><br>
    <button (click)="onLogOut()">Log out</button>
    
</div>
 
 
