/* 
    Created on : 25-ene-2016, 19:24:29
    Author     : juanan
*/


#waitingRoom  {
    width: 40%;
    box-sizing: border-box;
    text-align: center;
  
    
    
}

#waitingRoom .header {
  width: 100%;
  
   
}

.ovt-container-col .header {
  margin-bottom:1em;
}