
<div id="login" class="animate join">
    
    <h1>Login</h1>
    
    <form data-ng-model="user" data-ng-cloak>
        
        <input id="name" name="name" type="text" data-ng-model="user.name" value="" 
            placeholder="tutor* or student*" required>
        
        <input id="password" name="password" type="password" data-ng-model="user.password" value="" 
            placeholder="Your password" required><br><br>
        
        <input type="submit" name="commit" data-ng-click="login()" value="Enter"><br>
        
    </form>
    
    
</div>
    