/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 06-dic-2015, 10:54:14
    Author     : juanan
*/

.ovt-participant {

    text-align:center;
    height: 100%;
    width: 100%;
  
}

.video-footer{
    margin-top: -1.5em;
    font-weight: bold;
    border-bottom-left-radius: 20em;
    border-bottom-right-radius: 20em;
    background-color: azure;
    position: relative;
}


video {
    border: 2px solid #000000;
    -webkit-border-radius: 2em;
    -moz-border-radius: 2em;
    border-radius: 2em;
    width: 100%;
    background-color: #000000;
}    

.important{
    border: 2px solid #000000;
    -webkit-border-radius: 2em;
    -moz-border-radius: 2em;
    border-radius: 2em;
    width:50%;
    height: 90%;
}
