/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 06-dic-2015, 10:54:14
    Author     : Juan Antonio Echeverrías Aranda
*/

.ovt-participant {

    text-align:center;
}

.video{
    position: relative;
    width: 100%;
}

video.small {
   height:auto; 
   min-height: 211px;

}
video.large{
    height:auto; 
    min-height: 538px;
}

ovt-loading{
  margin:auto;  
  width:100%;
  border-radius: 2em;
  display: block;
  position: absolute;
  bottom: 0.0px;
  z-index: 97;
  background: black;
  width: 283px;
  height: 211px;

   
}

ovt-loading.large{
    width: 716px;
    height: 538px;
}

ovt-loading.small{
    width: 283px;
  height: 211px;
}

video {
    border: 2px solid #000000;
    -webkit-border-radius: 2em;
    -moz-border-radius: 2em;
    border-radius: 2em;
    background-color: #000000;
    width: 100%;
    z-index: 95%;

}

div.video-footer{
    border: 2px solid #000000;
    font-weight: bold;
    border-bottom-left-radius: 20em;
    border-bottom-right-radius: 20em;
    background-color: azure;
    position: absolute;
    bottom: 0.0em;
    width: 100%;
}

video.small + div.video-footer{
    bottom: -0.4em;
    
}

.important{
    border: 2px solid #000000;
    -webkit-border-radius: 2em;
    -moz-border-radius: 2em;
    border-radius: 2em;
    width:50%;
    max-height: 90%;
}
