<html>
<head>
    <link rel="stylesheet" href="participant.css">
</head>
<body>
<data-participant>
<div class="tutor">
    <p>tutor</p>
    <video  class="clear" #video id="video-1" autoplay >
        
    </video>
    <div class="clear"></div>
</div>
</data-participant>
<data-participant>
<div class="student">
    <p>student1</p>
    <video  #video id="video-2" autoplay >
        
    </video>
</div>
</data-participant>
<data-participant>
<div class="student">
    <p>student2</p>
    <video  #video id="video-3" autoplay >
        
    </video>
</div></data-participant>
</body>
</html>