/* 
    Created on : 27-ene-2016, 16:18:42
    Author     : juanan
*/
#ovt-login {
    position:relative;
    top:5em;
    width: 30%;
    display: block;
    margin: auto;
    background-color: #EEFACA;
    border-radius: 3px;
    -webkit-box-shadow: 0 0 200px rgba(255, 255, 255, 0.5), 0 1px 2px
        rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 200px rgba(255, 255, 255, 0.5), 0 1px 2px
        rgba(0, 0, 0, 0.3);
    
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
}

#ovt-login:before {
    content: '';
    background: rgba(0, 0, 0, 0.08);
    border-radius: 4px;
}



form  {
    padding: 0% 2%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

form div {
    margin:auto;
}

.ng-valid[required] {
  border-left: 5px solid #42A948; /* green */
}

.ng-invalid {
  border-left: 5px solid #a94442; /* red */
}


@media screen and (max-width:900px) {
  
  
  #ovt-login {
    width: 45%;
  }
}

@media screen and (max-width:800px) {
  
  
  #ovt-login {
    width: 55%;
  }
}


@media screen and (max-width:600px) {
  
  
  #ovt-login {
    width: 75%;
  }
}

@media screen and (max-width:400px) {
  
  
  #ovt-login {
    width: 95%;
  }
}