/* 
    Created on : 27-ene-2016, 16:18:42
    Author     : juanan
*/

form  {
    padding: 0% 2%;
    box-sizing: border-box;
    
}







form {
    display: flex;
    flex-direction: column;
}

form div {
    margin:auto;
}

.ng-valid[required] {
  border-left: 5px solid #42A948; /* green */
}

.ng-invalid {
  border-left: 5px solid #a94442; /* red */
}