/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 06-dic-2015, 10:54:14
    Author     : juanan
*/

#ovt-room{
    height:100%;
    display:flex;
    flex-direction:row;
    
}


.main{
    height: 100%;
    flex: 1 4 75%;
    order: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

}

.secundary{
    width: 100%;
    height:100%;
    flex: 4 1 10%;
    order: 2;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    overflow-x: hidden;
    overflow-y: auto;
    flex-wrap: wrap;
}

.dashboard{
    width:100%;
    flex: 1 9 79%;
    order: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: auto;
    padding: 1em 0;
}

ovt-chat{
    width:98%;
    flex: 9 1 9%;
    order: 2;
}


ovt-participant.mainParticipant {
   
    width: 57%;
    height: 98%;
    margin:auto;
}




.secundary ovt-participant {
    width: 95%;
    height: 32%;
    margin: 0.5em;
    font-size: 0.8em;
}


button[name=exitRoom] {
    position:absolute;
    bottom:0.3em;
    right:1em;
    z-index: 1;
}    
