/*
To 
 this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 06-dic-2015, 10:54:14
    Author     : Juan Antonio Echeverrías Aranda
*/

#ovt-room{
    height: auto;
    min-height: 100%;
    width: auto;
    min-width: 1286px;
    display:-webkit-flex;
    -webkit-flex-direction: row;
    display:flex;
    flex-direction: row;
    z-index:95;
    background: #002400;
    background: -webkit-linear-gradient(#002400 0%, #005700 0%, #008a00 0%, #83c783 100%, #b4ddb4 100%);
    background: -o-linear-gradient(#002400 0%, #005700 0%, #008a00 0%, #83c783 100%, #b4ddb4 100%);
    background: linear-gradient(#002400 0%, #005700 0%, #008a00 0%, #83c783 100%, #b4ddb4 100%);
    position: relative;
    
}


/* GadgetContainerComponent  */
ovt-gadgets-container{
  height:100%;
  width: 25em;
  right: -25em;
  position: fixed;
  display:block;
  -moz-transition: all 1s;
  -webkit-transition: all 1s;
  -o-transition: all 1s;
    z-index:100;
}

.showed{
  right: 0%;
}



.main{
    -webkit-flex: 3 0 76em;
    -webkit-order: 1;
    flex: 3 0 76em;
    order: 1;
    display: -webkit-flex;
    -webkit-flex-direction: column;
    -webkit-justify-content: space-around;
    -webkit-align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.secundary{
    width: 100%;
    min-height:51em;
    -webkit-flex: 1 0 22em;
    -webkit-order: 2;
    flex: 1 0 22em;
    order: 2;
    display: -webkit-flex;
    -webkit-flex-wrap: wrap;
    -webkit-flex-direction: row;
    -webkit-justify-content: space-around;
    -webkit-align-items: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    overflow-x: hidden;
    overflow-y: auto;
}


button[name=exitRoom] {
    position:absolute;
    bottom:1em;
    right:1em;
    box-shadow: -2px 2px 2px #299D29;
    z-index:95;
}  


/*  div.main  */

.dashboard{
    width:100%;
    -webkit-flex: 4 0 42em;
    -webkit-order: 1;
    flex: 4 0 42em;
    order: 1;
    display: -webkit-flex;
    -webkit-flex-direction: row;
    -webkit-flex-wrap: wrap;
    -webkit-justify-content: space-around;
    -webkit-align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin: auto;
    padding: 1em 0;
}


ovt-chat{
    display:block;
    width:98%;
    -webkit-flex: 1 0 9em;
    -webkit-order: 2;
    flex: 1 0 9em;
    max-height: 11em;
    order: 2;
    padding: 0.5em;
    overflow: hidden;
}


/* div.main div.dashoard */

ovt-participant.main-participant {
    min-height: 538px;
    width: 71%;
 }


ovt-participant.minimized{

    -webkit-flex: 1 1 27%;
    -webkit-order: 1;
    flex: 0 1 28%;
    order: 1;
    height: 31.5%;
}


div.ovt-file {
    -webkit-flex: 0 3 619px;
    -webkit-order: 2;
    flex: 0 3 619px;
    order: 2;
    max-height: 80%;
    height: 80%;
    width:619px;
    position: relative;
    margin:0em;
}

div.ovt-file img.btn {
    position: absolute;
    top: 0.8em;
    margin-left: -8%;
    z-index:4;
}

div.ovt-file object{
    height: 100%;
    width: 100%;
    border: 0.4em solid #1C1C1C;
    background: #414141;
}



/* div.secundary */


.secundary ovt-participant {
    margin: 0.5em;
    font-size: 0.8em;
}






